.container{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:100px;
    background:#ffff;
    padding-bottom:30px
}

.header {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.text{
    color:blue;
    font-size:48px;
    font-weight:700
}
.underline{
    width:65px;
    height:6px;
    background:blue;
    border-radius:10px
}
.inputs{
    margin-top:60px;
    display:flex;
    flex-direction:column;
    gap:28px;
}
.input{
    display:flex;
    align-items:center;
    margin:auto;
    width:480px;
    height:50px;
    background:#dbd1d1;
    border-radius:7px;

}
.inputs input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:Black;
    font-size:20px;
}
.forgot-password {
    padding-left: 490px;
    margin-top: 25px;
    color: #dbd1d1;
    font-size:20px;
}
.forgot-password span
{
    color:blue;
    cursor:pointer;
}
.Submit-container {
    padding-left: 435px;
    display: flex;
    gap: 35px;
    margin-top: 25px;
}
.submit{
    display:flex;
    justify-content:center;
    align-items:center;
    width:220px;
    height:60px;
    background:blue;
    border-radius:50px;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
    color:white

}
.gray {
    background: #dbd1d1;
}